html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h1 {
    margin-top: 0;
    margin-bottom: 3px;
}
img {
    vertical-align: middle;
    border-style: none;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  border-radius: 3px;
}
.main {
    width: 100%;
    margin: 0 auto;
    max-width: 860px;
    min-width: 320px;
    position: relative;
}
@media (max-width:320px) {
    .main {
        width: 320px !important;
    }
}
.gallery-form {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.gallery-form .gallery-form__input {
    width: 80%;
    padding: 2px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}
.gallery-form .gallery-form__submit {
    width: 19%;
    padding: 3px;
    margin-left: 1%;
    font-size: 16px;
    border: 1px solid #ccc;
    vertical-align: middle;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.gallery-form .gallery-form__submit:hover {
    background-color: #4e4e4e;
}
@media (max-width:320px) {
    .gallery-form .gallery-form__input,
    .gallery-form .gallery-form__submit {
        font-size: 14px;
    }
}
.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;
}
.gallery-container > .gallery-container__item {
    position: relative;
    margin: 2px;
    padding: 0 !important;
}
.gallery-container > .gallery-container__item > img {
    top: 0;
    width: 100%;
    vertical-align: bottom;
}
.alert {
    display: block;
    width: 100%;
    position: relative;
    padding: 15px;
    text-align: left;
    font-size: 14px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: #c4c4c4;
}
.alert.alert__danger {
    color:#fff;
    background-color: salmon;
    border-color: red;
}